# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# lint yaml
yamllint~=1.37.1

# license check
reuse~=5.0.2

# utils
certifi==2025.6.15
charset-normalizer==3.4.2
idna==3.10
PyYAML==6.0.2
urllib3==2.4.0
