# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

* @vthiruveedula @Ram-srini @sunil-parida @cjnolan @damiankopyto @palade @sunil-parida @Ram-srini @soniabha-intc

# CI files
.github/ @adimoft @daveroge @shanedonohue @manilk1x @vthiruveedula @Ram-srini @sunil-parida @cjnolan @damiankopyto @palade @sunil-parida @Ram-srini @soniabha-intc
