# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Note that the agent values are coming from the bma_values.yaml
# no default values are defined for them
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: env-vars
data:
  {{- if .Values.proxy.enabled }}
  HTTP_PROXY: "{{ .Values.proxy.http_proxy }}"
  HTTPS_PROXY: "{{ .Values.proxy.https_proxy }}"
  NO_PROXY: "{{ .Values.proxy.no_proxy }}"
  http_proxy: "{{ .Values.proxy.http_proxy }}"
  https_proxy: "{{ .Values.proxy.https_proxy }}"
  no_proxy: "{{ .Values.proxy.no_proxy }}"
  {{- end }}
  PATH: "{{ .Values.param.path}}"
  DEBUG: "{{ .Values.param.debug }}"
  _ORCH_IP_: "{{ .Values.param.orch_ip }}"
  _ORCH_FQDN_: "{{ .Values.param.orch_fqdn }}"
  _ORCH_USER_: "{{ .Values.param.orchUser }}"
  _ORCH_PASS_: "{{ .Values.param.orchPass }}"
  _ORCH_ORG_: "{{ .Values.param.orchOrg }}"
  _ORCH_PROJECT_: "{{ .Values.param.orchProject }}"
  _OAM_SERVER_ADDRESS_: "{{ .Values.param.oamServerAddress }}"
  _NODE_AGENT_VERSION_: "{{ .Values.bma_versions.node_agent_version }}"
  _REMOTE_ACCESS_AGENT_VERSION_: "{{ .Values.bma_versions.remote_access_agent_version }}"
  _CLUSTER_AGENT_VERSION_: "{{ .Values.bma_versions.cluster_agent_version }}"
  _HDA_AGENT_VERSION_: "{{ .Values.bma_versions.hardware_discovery_agent_version }}"
  _POA_AGENT_VERSION_: "{{ .Values.bma_versions.platform_observability_agent_version }}"
  _PLATFORM_UPDATE_AGENT_VERSION_: "{{ .Values.bma_versions.platform_update_agent_version }}"
  _PLATFORM_TELEMETRY_AGENT_VERSION_: "{{ .Values.bma_versions.platform_telemetry_agent_version }}"
  _CADDY_VERSION_: "{{ .Values.bma_versions.caddy_version }}"
