---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: Labeler

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read            # default, required to read repo content
  pull-requests: write      # needed so the action can apply labels to PRs
  issues: write             # needed so the action can apply labels to Issues

jobs:
  label:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write
    # Only run for PRs from the main repository (skip forks like Dependabot)
    if: github.event.pull_request.head.repo.full_name == github.repository
    steps:
      - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b  # v6.0.1
        with:
          repo-token: ${{ secrets.SYS_EMF_GH_TOKEN }}
