---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: Post-Merge VEN vm-provisioning

on:
  push:
    branches:
      - main
      - release-*
    paths:
      - 'vm-provisioning/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  post-merge-pipeline:
    permissions:
      contents: read
      deployments: write
    uses: open-edge-platform/orch-ci/.github/workflows/post-merge.yml@9ddc46c90c2cfeab4a3fd38a07284ec9a61bc3d8  # 2026.0.3
    with:
      run_version_check: true
      run_dep_version_check: true
      run_build: false
      run_docker_build: false
      run_docker_push: false
      run_helm_build: false
      run_helm_push: false
      run_version_tag: true
      prefix_tag_separator: "/"
      project_folder: "vm-provisioning"
    secrets:
      SYS_EMF_GH_TOKEN: ${{ secrets.SYS_EMF_GH_TOKEN }}
      NO_AUTH_ECR_PUSH_USERNAME: ${{ secrets.NO_AUTH_ECR_PUSH_USERNAME }}
      NO_AUTH_ECR_PUSH_PASSWD: ${{ secrets.NO_AUTH_ECR_PUSH_PASSWD }}
      MSTEAMS_WEBHOOK: ${{ secrets.TEAMS_WEBHOOK }}
